<div class="content my-5">
    <div class="d-flex row justify-content-center align-items-center text-center mine">
        <h1>Wellcome to the new era !</h1>
        <div class="d-flex justify-content-center align-items-center">
                <details class="mx-2">
                    <summary>About Safety</summary>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">Encrypted Data</li>
                        <li class="list-group-item list-group-item-success">Blockchain Based</li>
                        <li class="list-group-item list-group-item-warning">Money Safety (in progress)</li>
                    </ul>
                </details>
                <details class="mx-2">
                    <summary>About Us</summary>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">Independent ECommerce</li>
                        <li class="list-group-item list-group-item-success">Around the World</li>
                        <li class="list-group-item list-group-item-warning">Development (in progress)</li>
                    </ul>
                </details>
        </div>
        <p> Support us: 1ezgQBqL2nzBfcZNhXBwuF95T4qWyCmAb (Bitcoin)</p>
    </div>
</div>
