<div class="container">
    <div class="d-flex justify-content-center align-items-center text-center">
        <div class="d-flex row justify-content-center align-items-center text-center content">
            <form class="d-flex row justify-content-center align-items-center">
                <div class="my-2 d-flex row">
                    <label>Email</label>
                    <input type="email" name="email"/>
                </div>
                <div class="my-2 d-flex row">
                    <label>Password</label>
                    <input type="password" name="password"/>
                </div>
                <div class="my-2 d-flex row">
                    <button routerLink="/none">Login</button>
                </div>
                <div class="text-end">
                    <small><a routerLink="/none"><p>Forgotten password</p></a></small>
                </div>
            </form>
        </div>
    </div>
</div>
