<div class="container">
    <div class="d-flex justify-content-center align-items-center text-center">
        <div class="d-flex row justify-content-center align-items-center text-center content">
            <form class="d-flex row justify-content-center align-items-center">
                <div class="my-2 d-flex row">
                    <label>Email</label>
                    <input required placeholder="noname@email.com" type="email" name="email"/>
                </div>
                <div class="my-2 d-flex row">
                    <label>Nick</label>
                    <input required placeholder="NoName" type="text" name="nick"/>
                </div>
                <div class="my-2 d-flex row">
                    <label>Password</label>
                    <input required placeholder="password" type="password" name="password"/>
                </div>
                <div class="my-2 d-flex row">
                    <button routerLink="/none">Register</button>
                </div>
                <div class="text-end">
                    <small><p>Keep it safe</p></small>
                </div>
            </form>
        </div>
    </div>
</div>
